/target/
/build/
*.o
*.a
*.mod
*.agdai
formal/idris/build/

nss/*.o
nss/libnss_resolve.so.2
nss/test_nss
nss/test_shm
*.so
*.so.*

nss/*.o
nss/libnss_resolve.so.2
target/
**/*.tmp
fuzz/artifacts/
fuzz/corpus/
crates-vendor/
.cargo/*
!.cargo/config.toml

__pycache__/
*.py[cod]
