[Unit]
Description=RustD Network Name Resolver
After=rustd-sysusers.service network-pre.target
Before=network.target nss-lookup.target
Wants=nss-lookup.target
Conflicts=systemd-resolved.service

[Service]
Type=notify
# Own org.freedesktop.resolve1 when replacing systemd-resolved.
ExecStart=/usr/lib/rustd/rustd-resolved --dbus
Restart=always
RestartSec=1s

[Install]
WantedBy=sysinit.target
