[Unit]
Description=RustD Resolver Monitor Socket
Before=rustd-resolved.service

[Socket]
ListenStream=/run/rustd/resolve/io.rustd.Resolve.Monitor
FileDescriptorName=varlink-monitor
SocketMode=0666
Service=rustd-resolved.service

[Install]
WantedBy=sockets.target
